// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #FF9778;
$green: #84CD99;
$gray: #F4F9FE;
$dark-gray: #A7A8AD;
$light-gray: #F4F4F4;
$dark-gray: rgb(34, 34, 34)
