#activity-form {

  .title-edit {
    margin-bottom: 10%;
    margin-top: 10%;
  }
  .form-control {
    width: 100%;
    height: 54px;
    margin-top: unset;
}
  .mapboxgl-ctrl-geocoder {
    max-width: unset;
  }
  .mb-3 {
    margin-bottom: 2rem !important;
  }
  .form-control#activity_description, .form-control#activity_photos {
    height: unset;
  }
  .mapboxgl-ctrl-geocoder--input {
    height: 53px !important;
  }
  .mapboxgl-ctrl-geocoder--icon {
    top: 16px;
  }
  .picture-preview {
    width: 100px;
  }
}
