

 .homepage {
    background-image: url(home.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
  }

  .logo {
    margin-top: 60%;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    margin: 50px 20px 20px 20px
  }

  .tagline {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: white;
    margin-top: 100px;
    text-align: center;
  }

