#users-show {

  .name-age {
    font-family: "montserrat";
    font-size: 16px;
    margin-top: 4%;
    font-weight: 700;
  }

  .about-me {
    font-family: "montserrat";
    font-size: 16px;
    margin-top: 4%;
    font-weight: 600;
    text-align: left;
    align-self: start;
  }

  .fa-solid {
    color: white;
    font-size: 28px;
    align-self: end;
  }

  .logout {
    align-self: end;
  }

  .going-to {
    font-family: "montserrat";
    font-size: 16px;
    margin-top: 4%;
    font-weight: 600;
  }

  .organizing, .going-to {
    font-family: "montserrat";
    font-size: 16px;
    margin-top: 4%;
    font-weight: 500;
  }

  .my-class a {
    text-decoration: none;
  }

  .infos {
    text-align: left;
    font-size: 14px;
    padding-top: 10px;
    font-weight: 600;
    padding-left: 2%;
    font-family: "montserrat";
  }

  .time {
    text-align: left;
    font-size: 14px;
    padding-top: 10px;
    font-weight: 500;
    padding-left: 2%;
    color: $orange;
    margin-top: -9%;
  }

  .location {
    text-align: left;
    font-size: 14px;
    padding-top: 10px;
    font-weight: 400;
    padding-left: 2%;
  }

  .card-info{
    padding-left: 10px;
  }

  .fa-location-dot {
    color: $orange;
    font-size: 18px;

  }
}
