<h1 class="chats">Chats</h1>
<div class= "search-form-chat">
  <form action="#" method="GET" class="search-form">
    <input type="search" class="search-term-chat" placeholder="Search for users"/>
    <a class="button-search" href="#"><i class="fa-solid fa-magnifying-glass"></i>Search</a>
    <%# <input type="submit" class="button-search" value="Search"> %>
  </form>
</div>
<div id="users-show">
  <% if @chatrooms.empty? %>
  <h3>You have no chats yet</h3>
<% else %>
  <% @chatrooms.each do |chatroom| %>
    <div class="card-chat-index">
      <%= link_to chatroom_path(chatroom) do %>
        <%= cl_image_tag @chatroom_info[chatroom.id][:photo_key], alt: "text", class: "photo-user-chat" %>
      <% end %>
      <%= link_to @chatroom_info[chatroom.id][:name], chatroom_path(chatroom), class:"username" %>
      <p class="chat-date"><%= @chatroom_info[chatroom.id][:date] %></p>
    </div>
  <% end %>
<% end %>
</div>
