
<%# <%= link_to "Chatroom 2", chatroom_path(2) %>
<div id="users-show">
  <div class="card-profile">
    <h1>Coming soon</h1>
    <%= link_to "Back to Activities", activities_path %>
  </div>
</div>
