<div id="users-show">
  <div class="card-profile">
    <h1>Chatrooms</h1>
    <% if @chatrooms.empty? %>
      <h1>Start chatting!</h1>
    <% else %>
        <% @chatrooms.each do |chatroom| %>
          <div class="card-profile">
            <h3><%= link_to @chatroom_names[chatroom.id], chatroom_path(chatroom) %></h3>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
