<div id="confirmation-page">
  <%= link_to request.referrer do %>
        <i class="button-round-grey"><i class="fa-solid fa-angle-left"></i></i>
      <% end %>
  <div class="circle">
    <i class="fa-solid fa-check"></i>
  </div>
  <div class="confirmation-card">
        <h1 class="happy-travels mb-3">You're going!</h1>
        <p class="mb-0"><%= @booking.activity.title  %></p>
        <p class="mb-0"><%= @booking.activity.time.strftime('%a, %b %e • %R') %></p>
  </div>
  <%= link_to "Add to Google Calendar", "https://calendar.google.com/calendar/r/eventedit?text=#{@booking.activity.title}&dates=#{@booking.activity.time.strftime('%Y%m%dT%H%M%S')}/#{@booking.activity.time.strftime('%Y%m%dT%H%M%S')}&ctz=#{@booking.activity.time.strftime('%Z')}&details=#{@booking.activity.description}&location=#{@booking.activity.location}", class: "button-add-calendar", target: "_blank" %>
</div>
