<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 mx-auto text-center">
      <h1>You have successfully joined this activity.</h1>
      <%= link_to "Back to Activity", request.referrer, class: "btn btn-primary mt-3" %>
    </div>
  </div>
</div>
