<h1><%= @user.name || "Mr Nobody" %></h1>
<p>Find me in app/views/users/show.html.erb</p>
<p><strong>Going to / Organizing</strong></p>
<a href="/chats" class="btn btn-info" role="button">Link Button</a>
<%= console %>
