<div class="navbar">
  <%= link_to activities_path, class: "nav-link" do %>
    <i class="fa-regular fa-map"></i>
    <p class="title-navbar">Explore</p>
  <% end %>
  <%= link_to activities_path, class: "nav-link" do %>
    <i class="fa-regular fa-plus"></i>
    <p class="title-navbar">Create</p>
  <% end %>
  <%= link_to activities_path, class: "nav-link" do %>
    <i class="fa-regular fa-message"></i>
    <p class="title-navbar">Chat</p>
  <% end %>
  <%= link_to activities_path, class: "nav-link" do %>
    <i class="fa-regular fa-user"></i>
    <p class="title-navbar">Dashboard</p>
  <% end %>
</div>
