
<div class="navbar">
  <div class="nav-link">
    <i class="fa-regular fa-map"></i>
    <p class="title-navbar">Explore</p>
  </div>
  <div class="nav-link">
    <i class="fa-regular fa-plus"></i>
    <p class="title-navbar">Create</p>
  </div>
  <div class="nav-link">
    <i class="fa-regular fa-message"></i>
    <p class="title-navbar">Chat</p>
  </div>
  <div class="nav-link">
    <i class="fa-regular fa-user"></i>
    <p class="title-navbar">Dashboard</p>
  </div>
</div>
