.card-comment {
  background-color: white;
  border-radius: 30px;
  padding-top: 5%;
  box-shadow: 0px 9px 15px -14px rgba(0, 0, 0,69%);
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 10%;
}
