<div class="homepage">
    <%= image_tag 'logo.png', alt: "text", class:"logoshadow" %>
    <p class="tagline">Travel the world, meet lifelong friends</p>
    <div>
      <%= link_to "EXPLORE as a guest", activities_path, class: "" %>
      <%= link_to "Log in", new_user_session_path, class: "button-rectangle-orange" %>
      <%= link_to "Sign up", new_user_registration_path, class: "button-rectangle-white" %>
    </div>
</div>
