h1, p {
  color: black;
}
.button-rectangle-orange {
  color: white;
  background-color: #FF9778;
  font-family: Montserrat;
  font-size: 20px;
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  font-weight: 700;
  border: none;
}

.button-rectangle-orange-create {
  color: white;
  background-color: #FF9778;
  font-family: Montserrat;
  font-size: 20px;
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  font-weight: 700;
  border: none;
  margin-top: 15%;
}

.button-rectangle-orange:hover {
  color: white;
  background-color: #FF9778;
  font-family: Montserrat;
  font-size: 20px;
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  font-weight: 700;
}

.button-rectangle-orange-login {
  color: white;
    background-color: #FF9778;
    font-family: Montserrat;
    font-size: 20px;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-weight: 700;
    margin-top: 10%;
    margin-bottom: 40%;
}

.button-rectangle-orange-signup {
  color: white;
  background-color: #FF9778;
  font-family: Montserrat;
  font-size: 20px;
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  font-weight: 700;
  margin-top: 16%;
  margin-bottom: 9%;
}

.button-rectangle-white {
  background-color: white;
  color: black;
  font-family: Montserrat;
  font-size: 20px;
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-rectangle-white:hover {
  background-color: white;
  color: black;
  font-family: Montserrat;
  font-size: 20px;
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-search {
  color: white;
  background-color: $orange;
  font-family: Montserrat;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  padding: 9px;
  border-radius: 37px;
  border: none;
}

.button-view-list {
  color: $orange;
  background-color: white;
  font-family: Montserrat;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  padding: 17px;
  border-radius: 37px;
  display: inline-table;
  margin-top: 25px;
  width: 32%;
  text-align: center;
}

.button-join {
  color: white !important;
  background-color: #FF9778;
  font-family: Montserrat;
  text-decoration: none;
  font-size: 21px;
  font-weight: 600;
  padding: 10px 16px;
  border-radius: 37px;
  margin-top: 12px;
  width: 28%;
  text-align: center;
  display: block;
  height: 49px;
}

.button-joined {
  color: white !important;
  background-color: #84CD99;
  font-family: Montserrat;
  text-decoration: none;
  font-size: 21px;
  font-weight: 600;
  padding: 10px 11px;
  border-radius: 37px;
  margin-top: 12px;
  width: 28%;
  text-align: center;
  display: block;
  height: 49px;
}


.button-chat {
  color: black;
  background-color: white;
  font-family: Montserrat;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 17px;
  border-radius: 37px;
  display: inline-table;
  margin-top: 15px;
  width: 43%;
  text-align: center;
}

.button-chat:hover {
  color: black;
  background-color: white;
  font-family: Montserrat;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 17px;
  border-radius: 37px;
  display: inline-table;
  margin-top: 15px;
  width: 43%;
  text-align: center;
}

.button-edit {
  color: black;
  background-color: white;
  font-family: Montserrat;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 17px;
  border-radius: 37px;
  display: inline-table;
  margin-top: 15px;
  width: 43%;
  text-align: center;
}

.button-edit:hover {
  color: black;
  background-color: white;
  font-family: Montserrat;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 17px;
  border-radius: 37px;
  display: inline-table;
  margin-top: 15px;
  width: 43%;
  text-align: center;
}

.button-round-grey {
  text-decoration: none;
  background-color: $gray;
  font-size: 18px;
  color: black;
  text-align: center;
  border-radius: 100%;
  display: block;
  width: 35px;
  height: 35px;
  padding-top: 5px;
  margin-top: 10px;
}

.button-add-calendar {
  color: $orange;
  background-color: white;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 600;
  padding: 15px 24px;
  border-radius: 37px;
  display: inline-table;
  margin-top: 25px;
  text-align: center;
}
