// To style the message itself
.sender-style, .receiver-style {
  border-radius: 30px;
  padding: 4%;
  background: rgba(255,151,120,0.51);
  box-shadow: 0px 1px 4px rgba(0,0,0,0.25);
  margin-top: 5%;
  max-width: 77%;
}

.receiver-style {
  background-color: white;
  // margin-left: -6%;
  p {
    margin: 0px;
  }
}

.sender-style {
  background-color:#FAC7BB;
  // margin-right: -6%;
  p {
    margin: 0px;
  }
}

.message-content {
  font-family: "montserrat";
  font-weight: 400;
  font-size: 14px;
}

.message-date {
  text-align: end;
  font-size: 12px;
  margin-top: 1%;
}

.messages-and-date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
