.navbar {
  width : 100%;
  background-color:#FDFDFE;
  color: #A7A8AD;
  height: 80px;
  display: flex;
  position: sticky;
}

.explore, .create, .dashboard, .chat {
  display: flex;
    flex-direction: column;
    align-items: center;
}

.explore:hover, .create:hover, .dashboard:hover, .chat:hover, .title-navbar:hover {
  color: $orange;
}



.title-navbar {
  padding: 10px;
  color:#A7A8AD;
}
