// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

//Flatpicker
@import "flatpickr/dist/flatpickr";

//Mapbox autocomplete
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";


body {
  max-width: 430px;
  margin: auto;
  background-color: #F4F9FE;
}

a {
  text-decoration: none !important;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

.inner-cont {
  background-color: #F4F9FE;
  padding: 4%;
  min-height: 100vh;
}

.flatpickr-calendar.animate.open {
  right: auto !important;
  margin-left: 26px;
}

.booking-cal {
  color: #c8c8c8;
  position: absolute;
  top: 19px;
  z-index: 0;
  font-size: 18px;
  right: 16px;
}
.activity_time {
  position: relative;
}

.activity_time input {
  cursor: pointer;
}

.mapboxgl-ctrl-geocoder {
  width: 100%;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
  border-radius: 15px;
  border: none;
  margin-top: 7%;
}
.map_backgr {
  height: 100vh;
  width: 100vw;
}

.box-container {
  z-index: 99;
  bottom: 75px;
  position: absolute;
  display: flex;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: scroll;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
}

.details-box {
  height: 150px;
  background-color: white;
  padding: 16px;
  min-width: 260px;
  border-radius: 30px;
  margin: 15px;

  position: relative;
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 0px 9px 15px -14px rgba(0,0,0,0.69);
}

.card-map-picture {
  object-fit: cover;
  width: 52%;
  height: 100%;
  border-radius: 26px;
}
