// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

//Flatpicker
@import "flatpickr/dist/flatpickr";

//Mapbox autocomplete
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";


body {
  max-width: 414px;
  margin: auto;
}

.inner-cont {
  background-color: #F4F9FE;
  padding: 5%;
  min-height: 100vh;
}

.flatpickr-calendar.animate.open {
  right: auto !important;
  margin-left: 26px;
}

.booking-cal {
  color: #c8c8c8;
  position: absolute;
  top: 19px;
  z-index: 0;
  font-size: 18px;
  right: 16px;
}
.activity_time {
  position: relative;
}

.activity_time input {
  cursor: pointer;
}

.mapboxgl-ctrl-geocoder {
  width: 100%;
  height: 58px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
  border-radius: 15px;
  border: none;
  margin-top: 7%;
}
