<div id="activities-index" data-controller="search-activities">

  <%= form_with url: activities_path, method: :get, html: {class:
  "search-form", data: {search_activities_target: "form"}} do |f|%>
      <%= f.text_field :query,
        class: "search-term",
        placeholder: "Search an activity or location",
        value: params[:query],
        data: {
          search_activities_target: "input",
          action: "keyup->search-activities#update"}
      %>
  <% end %>

  <%= render "list", activities: @activities %>
  <div class="map_view">
    <%= link_to map_activities_path, class: "button_map_view" do %>
          <i class="fa-solid fa-map-location-dot"></i> Map View
    <% end %>
  </div>
</div>
