<h3>hello map</h3>

<div class="map"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  style="height: 100vh; width: 100%;"
  >
</div>
